// Colors

$bg: #F4F3F2;
$primary: #25224C;
$secondary: #F9B233;
$text: #4D4D4D;
$text_light: #F2F2F2;
$error: #C00000;


// Var

$Montserrat: 'Montserrat', sans-serif;
$OpenSans: 'Open Sans', sans-serif;
$transition: all 0.3s ease-out 0s!important;


html {

    &.not-scroll {
        overflow-y: hidden;
    }
}


body {
    font-family: $OpenSans;
    overflow-x: hidden;
    transition: $transition;
    background-color: #000;
    color: #333333;
    position: relative;


    &.not-scroll {
        overflow-y: hidden;
    }

}

* {
	margin: 0;
	padding: 0;
}


.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow: none!important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], textarea, select {
	outline: none;
	box-shadow:none !important;
}

// Autocomplete

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    font-family: $OpenSans;
    background: transparent;
    font-weight: 400;
    font-size: 12px;
    -webkit-text-fill-color: #4D4D4D!important;
    -webkit-box-shadow: 0 0 0vw 52.083vw #fff inset!important;
    transition: background-color 0s ease-in-out 0s!important;
}

/* Typo */

a {
    font-family: $OpenSans;
    transition: all 0.3s ease-out 0s!important;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: inherit;

    &:hover {
        transition: all 0.3s ease-out 0s!important;
    }
}

p, h1, h2, h3, h4, h5, h6, label, input, span {
    font-family: $OpenSans;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    margin: 0;
}

ul {

    li {
        font-family: $OpenSans;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }
}

h1, h2, h3, h4, h5, h6, p, span, small {
    font-family: $OpenSans;
    font-weight: 400;

    &.monterrat {
        font-family: $Montserrat
    }

    &.page-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.05em;
        color: $primary;
        margin-bottom: 5px;
    
    }

    &.title {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.05em;
        color: $primary;
        margin-bottom: 20px;
    
    }

    &.subtitle {
        font-weight: 400;
        font-size: 23px;
        line-height: 24px;
        color: $primary;
        margin-bottom: 5px;
    }

    &.text {
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        color: $text;
        margin-bottom: 5px;
    }

    &.info {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $text;
        margin-bottom: 5px;
    }

    strong {
        font-weight: 700;
    }

}

.table thead th {
    white-space: nowrap;
}

.form-filter {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 500px) {
        flex-wrap: wrap;

        .form-group {
            width: 100%;
        }
    }

    .form-group {

        &:not(:first-child) {
            margin-left: 15px;

            @media screen and (max-width: 500px) {
                margin-left: 0;
        
            }
        }


        &.flex {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: 500px) {
                flex-wrap: wrap;
        
            }

            span {
                display: inline-block;
                margin: 0 10px;
            }
        }

    }
}

.selectric-open {
    

    .selectric {
        box-shadow: 0px 0px 4px rgba(0, 77, 86,.35) !important;
        border: 1px solid #25224C;
        transition: $transition;
    }
}

.selectric {
    background: #fff;
    border-radius: 5px;
    min-width: 170px;
    border: 1px solid #D1D1D1;
    transition: $transition;

    

    .button {
        background-color: #fff;
    }
}

.flex-div {
    display: flex;
    align-items: center;
    

    &.end {
        justify-content: flex-end;
    }

    div {

        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}


// Buttons

button,
.btn-custom {
    font-family: $OpenSans;
    font-weight: 300;
}

.btn-search {
    margin-left: 10px;
}

button.btn-custom {
    line-height: unset;
}

.btn-custom {
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
    transition: $transition;
    min-width: 226px;
    max-width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15)!important;

    &.primary {
        border: 1px solid $primary;
        background: $primary;

        &:hover {
            opacity: .8;
        }

        &.transparent {
            border: 2px solid $primary;
            background: transparent;
            color: $primary;
            box-shadow: none!important;

            &:hover {
                background: $primary;
                color: #fff;
                opacity: 1;
            }
        }
    }

    &.secondary {
        border: 1px solid $secondary;
        background: $secondary;
    }

    &:hover {
        color: #fff;
        border: 1px solid $primary;
        transition: $transition;
    }

    @media screen and (max-width: 500px) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}


// Inputs

form {

    &.small {
        width: 30%;
        min-width: 550px;
    }
}

td a {

    &:hover {
        text-decoration: none;
    }

    i {
        padding: 7px;
        font-size: 0.7rem;
        border: 2px solid #1A1A1A;
        background: #1A1A1A;
        box-shadow: 6px 6px 6px -2px rgba(0,0,0,.15);
        border-radius: 10px;
        color: #FFF;
    }
}

.prev-image {
    position: relative;
    width: 300px;
    height: 400px;

    img {
        margin: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
        object-position: top;
        border-radius: 0;
    }
}

@media screen and (max-width: 900px) {
    
    form {

        &.small {
            width: 100%;
            min-width: unset;
        }
    }
}

.upload {
    display: none;
}

.btn-upload {
    width: 111px;
    height: 27px;
    font-size: 10px;
    color: #fff;
    padding: 0;
    line-height: 23px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    background: #000;
    border-color: #000;
    border-radius: 5px;
}

.btn-upload:hover {
    color: #fff;
}

#inputFileName {
    background-color: transparent;
    opacity: 1;
}

.wrap-input {
    position: relative;
}

.wrap-radios {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.form-check-label {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 20px;
}

.form-group {
    margin-bottom: 19px;
    position: relative;

    &.no-bot {
        margin-bottom: 0;
    }

    &.has-error {

        .control-label {
            color: $error;
        }

        .form-control {
            border: 1px solid $error;
            color: $error;
        }

        .checkbox {

            label {
                color: $error;

                &::before {
                    border: 1px solid $error;
                }
            }
        }
    }

    &.disabled {
        opacity: .3;
    }
}

.control-label {
    font-family: $OpenSans;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #4D4D4D;
    margin-bottom: 0;
    position: absolute;
    background: #fff;
    padding: 0 6px;
    top: -5px;
    left: 7px;
    z-index: 1;

    &.static {
        position: unset;
    }
}

select[multiple].form-control {
    padding: 15px .75rem;
}

select.form-control {
    line-height: 100%;
}

.form-control {
    font-family: $OpenSans;
    font-weight: 400;
    font-size: 12px;
    color: #4D4D4D;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    transition: $transition;

    &.min {
        min-width: 250px;
    }

    &::placeholder {
        color: inherit;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
    }

    &:focus,
    &.focus {
        box-shadow: 0px 0px 4px rgba(0, 77, 86, 0.35)!important;
        border: 1px solid #25224C;
        transition: $transition;
    }

    &:disabled,
    &[readonly] {
        border: 1px solid #D1D1D1;
        background: #FFFFFF;
    }
}

textarea.form-control {
    padding: 15px .75rem;
    height: auto;
    line-height: 20px;
}

.forgot-pass {
    font-weight: 400;
    font-size: 12px;
    line-height: 30px;
    align-items: center;
    color: #4D4D4D;

    &:hover {
        color: inherit;
    }
}

.checkbox {

    input {
        display: none;
    }

    label {
        font-weight: 400;
        font-size: 12px;
        line-height: 30px;
        color: #4D4D4D;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        &.checked {

            &::before {
                background: url(../images/icon-check.svg) no-repeat center;
                background-size: contain;
            }
        }

        &::before {
            content: "";
            background-color: #FFFFFF;
            border: 1px solid #D1D1D1;
            border-radius: 3px;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 9px;
        }

    }
}

.help-block.with-errors {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: $error;
    margin-left: 0;
    margin-top: 5px;
}


figure {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

figure.thumb {
    position: relative;

    img {
        margin: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        border-radius: 0;
    }
}

.wrap-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pad-0 {
    padding-left: 0;
    padding-right: 0;
}

.container-rel {
    position: relative;
}


.article {
    cursor: pointer;
}

// @media screen and (min-width: 1200px) {

//     .container, .container-lg, .container-md, .container-sm, .container-xl {
//         max-width: 1024px;
//     }
// }


@media screen and (max-width: 900px) {

    html {
        overflow-x: hidden;
    }

}


// Menu Trigger

.btn-menu {
    margin-right: 0;
    left: 15px;
    top: 0;
    width: 40px;
    height: auto;
    z-index: 1050;
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.5s ease-in-out 0s!important;

    &.active {
        transition: all 0.5s ease-in-out 0s!important;
        left: 210px;
    }

    .menu-trigger {
        position: relative;
        z-index: 103;
        top: 0;
        display: block;
        padding: 0;
        height: 27px;
        margin: 1px;
        cursor: pointer;
        transform: translateZ(0);
        transition: all 0.4s ease-in-out 0s!important;
        background: transparent;

        &.active {

            .line {
                background: #000;
            }

            .line-1 {
                transform: translateY(5px) rotate(45deg);
                transition: all 0.3s ease-out 0s;
            }
        
            .line-2 {
                opacity: 0;
                transition: all 0.3s ease-out 0s;
            }
        
            .line-3 {
                transform: translateY(-5px) rotate(-45deg);
                transition: all 0.3s ease-out 0s;
            }
    
        }

        .line {
            display: block;
            background: $primary;
            width: 20px;
            height: 2px;
            position: absolute;
            border-radius: 0;
            transition: all 0.3s ease-out 0s;
            text-indent: -624.9375rem;

            &.line-1 {
                top: 8px;
            }

            &.line-2 {
                top: 50%;
                top: calc(51% - 1px);
            }

            &.line-3 {
                bottom: 7px;
            }

            
        }
    }
    

}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    pointer-events: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: $transition;

    &.visible {
        visibility: visible;
        opacity: 1;
        transition: $transition;
    }
}


// Exemples

.content.exemples {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .left {
        margin-right: 37px;
    }

    p.text-ex {
        font-family: $Montserrat;
        font-weight: 400;
        font-size: 10px;
        line-height: 30px;
        letter-spacing: 0.1em;
        color: #4D4D4D;
        margin-bottom: 10px;
    }

    .buttons-ex {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: $text;
    }

    .label-ex {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $text;
    }

    .block {
        width: auto;
        min-width: 416px;
        margin-bottom: 26px;
    }

    h2.title {
        padding-bottom: 5px;
        border-bottom: 1px solid #CCCCCC;
    }

    .colors {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;

        li {
            width: 39.15px;
            height: 40px;

            &:not(:last-child) {
                margin-right: 8px;
            }

            &.primary {
                background-color: $primary;
            }

            &.secondary {
                background-color: $secondary;
            }

            &.text {
                background-color: $text;
            }

            &.text_light {
                background-color: $text_light;
            }
        }
    }

    .btn-custom {

        &:not(:last-child) {
            margin-right: 26px;
        }
    }

    .inner-block {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 22px;

        .left {
            margin-right: 30px;
            min-width: 170px;

            p.title-ex {

                &.montserrat {
                    font-family: $Montserrat;
                }
                text-align: right;
                font-family: $OpenSans;
                font-weight: 400;
                font-size: 30px;
                line-height: 37px;
                text-align: right;
                color: #25224C;
                margin-bottom: 0;

                small {
                    letter-spacing: 0.03em;
                    font-size: 10px;
                    line-height: 12px;
                    display: block;
                }
            }
        }

        .right {

            .title {
                padding-bottom: 0;
                border-bottom: none;
                margin-bottom: 5px;
            }
        }
    }
}


main.login {
    background: $primary;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1050;

    .wrap-form {
        width: 350px;
        max-width: 100%;
        margin: 20px 15px;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
        border-radius: 5px;

        .head {
            padding: 25px 20px 25px 20px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 34px;
                background: linear-gradient(90deg, #FFFFFF 0%, rgba(250, 250, 250, 0) 48.96%, #FFFFFF 100%), linear-gradient(0deg, #00404C -304.84%, rgba(0, 64, 76, 0) 32.26%);
                z-index: 1;
            }

            img {
                width: 147px;
                display: table;
                margin: auto;
                position: relative;
                z-index: 2;
            }
        }

        form {
            padding: 30px;

            .btn-custom {
                width: 100%;
                box-shadow: none!important;
            }

            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 24px;
            }
        }
    }
}

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1051;
    background: linear-gradient(0deg, #F9F9F9, #F9F9F9), #F3F3F3;

    &.light {

        .wrap {

            p {
                color: #fff;
            }
        }

    }

    &.login {
        background: $primary;
        position: fixed;
    }

    .wrap {
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-family: $Montserrat;
            font-weight: 400;
            font-size: 8px;
            line-height: 21px;
            text-align: center;
            text-transform: uppercase;
            color: #7C7C7C;
            margin-bottom: 0;

            strong {
                font-weight: 700;
            }
        }
    }
}

.header {
    background: #535353;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;


    a[href="#"] {
        cursor: default;
        pointer-events: none;
    }

    .wrap {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 10px;

            .logo {
                width: 53px;
                display: block;

            }

            h1 {
                font-family: $Montserrat;
                font-weight: 400;
                font-size: 14px;
                line-height: 30px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin: 0 0 0 36px;
                padding-left: 15px;
                border-left: 1px solid rgba(255, 255, 255, 0.15);
            }
        }


        .right {

            .user {
                height: 50px;
                width: 46px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #343434;

                &:hover,
                &.active {
                    background: #888787;
                }

                img {
                    width: 16px;
                }
            }

            ul.user-menu {
                position: absolute;
                right: 0;
                background: #fff;
                padding: 10px 20px;
                list-style: none;
                margin-bottom: 0;
                display: none;
                box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.07);

                li {

                    a {
                        font-family: $OpenSans;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 30px;
                        color: #575757;

                        &:hover {
                            text-decoration: none;
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

nav.menu {

    ul.main-menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        height: 53px;
        border-bottom: 1px solid #DFDFDF;
        margin-bottom: 0;

        &>li {
            position: relative;

            &:not(:last-child) {
                margin-right: 25px;
            }

            &.has-children {

                &::after {
                    display: none;
                }

                &>a::after {
                    content: "";
                    background: url(../images/arrow-down.png) no-repeat center;
                    background-size: contain;
                    width: 9px;
                    height: 9px;
                    display: inline-block;
                    margin-left: 5px;
                }
            }

            a {
                font-family: $OpenSans;
                font-weight: 400;
                font-size: 14px;
                line-height: 30px;
                color: #575757;

                &:hover {
                    text-decoration: none;
                }
            }

            &:hover {

                &>a {
                    color: $primary;
                }

                &::after {
                    background-color: #575757;
                    transform: scaleX(1);
                    visibility: visible;
                    opacity: 1 !important;
                }
            }

            &::after {
                background-color: rgba(249, 249, 249, 0.4);
                border-radius: 0px 0px 4px 4px;
                bottom: 0;
                content: "";
                height: 2px;
                left: 0px;
                opacity: 0;
                position: absolute;
                right: 0px;
                transform-origin: left center;
                transform: scaleX(0);
                transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
                visibility: hidden;
                width: auto;
            }
        }
    }

    ul.submenu {
        position: absolute;
        list-style: none;
        background: #fff;
        z-index: 999;
        padding: 10px 20px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
        left: 0;
        top: 145%;
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        &.active {
            opacity: 1;
            visibility: visible;
            top: 100%;
            transition: $transition;
        }

        li {
            margin-right: 0;
            position: relative;

            &.has-children {

               

                &>a::after {
                    content: "";
                    background: url(../images/arrow-down.png) no-repeat center;
                    background-size: contain;
                    width: 9px;
                    height: 9px;
                    display: inline-block;
                    margin-left: 5px;
                    transform: rotate(-90deg);
                }
               
            }

            a {
                font-family: $OpenSans;
                font-weight: 400;
                font-size: 14px;
                line-height: 30px;
                color: #575757;
                white-space: nowrap;

                &:hover {
                    text-decoration: none;
                    color: $primary;
                }
            }
        }
    }

    ul.submenu-lvl2 {
        position: absolute;
        list-style: none;
        background: #fff;
        z-index: 999;
        padding: 10px 20px;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transition: $transition;

        &.active {
            opacity: 1;
            visibility: visible;
            left: 100%;
            transition: $transition;
        }

        li {
            margin-right: 0;

            a {
                font-family: $OpenSans;
                font-weight: 400;
                font-size: 14px;
                line-height: 30px;
                color: #575757;
                white-space: nowrap;

                &:hover {
                    text-decoration: none;
                    color: $primary;
                }
            }
        }
    }
}

.wrap-title {
    margin-bottom: 20px;
}

ul.bread {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 0;

    li {
        font-family: $OpenSans;
        font-weight: 400;
        font-size: 12px;
        line-height: 30px;
        color: #4D4D4D;

        &:not(:last-child) {
            margin-right: 5px;
        }

        a {
            font-family: $OpenSans;
            font-weight: 400;
            font-size: 12px;
            line-height: 30px;
            color: #4D4D4D;

            &::after {
                content: ">";
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
}

.wrap-dashboard {
    margin-top: 20px;
}

main.dashboard {
    min-height: calc(100vh - 27px);
    background: linear-gradient(0deg, #F9F9F9, #F9F9F9), #F3F3F3;
    padding-top: 50px;
}

main {

    .content {
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
        border-radius: 5px;
        width: 100%;
        min-height: calc(100vh - 235px);
        padding: 16px 20px 20px 20px;
    }
}

.modal-info {

    &.invalid {

        .modal-header {
            background: $error;
        }
    }

    .modal-dialog {
        max-width: 500px;
    }

    .modal-content {
        border: none;
        border-radius: 10px;
    }

    .modal-header {
        background: $primary;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 22px 1rem;
    }

    .modal-title {
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: auto;
    }

    .modal-body {
        padding: 34px 57px 24px;

        p {
            font-weight: 300;
            font-size: 17px;
            line-height: 21px;
            text-align: center;
            color: #000000;

            strong {
                font-weight: 700;
                display: block;
            }
        }
    }

    .modal-footer {
        border-top: 0;
        justify-content: center;
        padding: 0 .75rem 40px .75rem;
        border-top: 0;

        .btn-custom {
            margin: auto auto auto auto;
        }
    }
}

.card-footer {
    background-color: #fff;
}

.page-link {
    color: $primary;
}

.page-item.active .page-link {
    background-color: $primary;
    border-color: $primary;
}

@media screen and (max-width: 900px) {

    .header {
        position: fixed;
        z-index: 1051;
    }

    nav.menu {
        height: 53px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &::after {
            content: "";
            border-bottom: 1px solid #DFDFDF;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }

    .btn-menu {
        position: relative;
        display: block;
    }

    nav.menu ul.main-menu {
        position: fixed;
        left: -101%;
        flex-direction: column;
        bottom: 0;
        top: 0;
        min-width: 200px;
        width: 200px;
        height: 100%;
        background: #fff;
        z-index: 999;
        padding: 70px 20px 20px 20px;
        align-items: flex-start;
        box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.07);
        transition: all 0.5s ease-out 0s !important;

        &.active {
            left: 0;
            transition: all 0.5s ease-out 0s !important;
        }
    }

    nav.menu ul.main-menu>li:not(:last-child) {
        margin-right: 0;
    }

    nav.menu ul.main-menu>li {
        margin-bottom: 10px;

        &::after {
            display: none;
        }
    }

    nav.menu ul.main-menu>li a {
        display: block;
        white-space: normal;
    }

    nav.menu ul.submenu,
    nav.menu ul.submenu-lvl2 {
        position: relative;
        top: 0;
        // opacity: 1;
        // visibility: visible;
        box-shadow: none;
        //display: none;

        &.active {
            top: 0;
            left: 0;
        }
    }

    nav.menu ul.submenu li,
    nav.menu ul.submenu-lvl2 li {
        margin-bottom: 10px;
    }

    .content.exemples {
        flex-wrap: wrap;
    }

    .content.exemples .left {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
    }

    .content.exemples .btn-custom:not(:last-child) {
        margin-bottom: 20px;
    }

    .content.exemples .inner-block .left {
        width: 40%;
    }
}

@media screen and (max-width: 500px) {

    .header .wrap .left h1 {
        margin: 0 0 0 17px;
        font-size: 12px;
    }

    .content.exemples .block {
        min-width: unset;
    }

    .content.exemples .inner-block {
        flex-wrap: wrap;
    }

    .content.exemples .inner-block .left {
        width: 100%;
    }

    .content.exemples .inner-block .left p.title-ex {
        text-align: left;
    }

    .modal-info .modal-footer .btn-custom:not(:last-child) {
        margin: auto auto 10px auto;
    }

    form .btn-custom {
        width: 100%;
    }

    .btn-upload {
        width: 150px!important;
        min-width: unset;
        white-space: nowrap;
    }

    .flex-div {
        flex-wrap: wrap;
        width: 100%;

        div {
            width: 100%;

            &:not(:first-child) {
                margin-top: 15px;
            }
        }

        &.no-wrap {
            flex-wrap: nowrap;
        }
    }

    .flex-div div:not(:last-child) {
        margin-right: 0;
    }

    .form-control.min {
        min-width: unset;
    }

    .prev-image {
        width: 100%;
        height: 400px;
    }

    .pagination {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 350px) {

    .header .wrap .left h1 {
        font-size: 9px;
    }
}